.content {
    display: flex;
    flex-grow: 1;
    height: 100vh;
    justify-content: center;
    width: 100%;
}

.wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    //flex-grow: 1;
    width: 50%;

    .card {
        //align-items: center;
        background-color: #ffffff;
        border-radius: 10px;
        border-bottom: 8px solid #ededf6;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 40px 60px;
        height: 25%;
        width: 100%;

        .title {
            font-family: "Ubuntu", sans-serif;
            font-size: 18px;
            line-height: 21px;
            letter-spacing: 0.01em;
            color: #a6acbe;
            margin-bottom: 60px;
        }

        .subject {
            font-family: "Ubuntu", sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 30px;
            line-height: 34px;
            letter-spacing: 0.01em;
            color: #333333;
        }

        .timerCard {
            align-items: center;
            display: flex;
            flex-direction: column;

            .timer {
                font-family: "Ubuntu", sans-serif;
                font-style: normal;
                font-weight: bold;
                font-size: 90px;
                line-height: 110px;
                letter-spacing: 0.01em;
                color: #8576ed;
            }
            .timerOff {
                color: #59e69a;
            }
        }
    }
    .startButton {
        align-items: center;
        cursor: pointer;
        display: flex;
        justify-content: center;
        width: 294px;
        height: 65.33px;
        background: #6c8dff;
        border-radius: 5px;
        &:hover {
            background-color: #6686F9;
        }

        .buttonTitle {
            font-family: Ubuntu;
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 23px;
            letter-spacing: 0.01em;
            color: #ffffff;
        }
    }
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;

    .topPanel {
        display: flex;
        height: 50vh;

        .translation {
            display: flex;
            flex-basis: 65%;
            align-items: baseline;
            justify-content: center;
            //max-height: 384px;
            //max-width: 618px;
            overflow: scroll;
            padding: 1vw 22px 1vw;
        }
        .lessonContent {
            width: 33%;
        }
    }
    .students {
        display: flex;
        flex-direction: column;
        flex-flow: column wrap;
        max-height: 50%;
        overflow-x: scroll;
    }
}

.student {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 190px;
    height: 40px;
    border: 2px solid #59E69A;
    box-sizing: border-box;
    border-radius: 20px;
    margin: 30px;
}

.text {
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.01em;
    margin-bottom: 4px;
    color: #a6acbe;
}
