.students {
    display: flex;
    flex-direction: column;
    flex-flow: column wrap;
    max-height: 50%;
    overflow-x: scroll;

    .lessonStat {
        align-items: center;
        display: flex;
        padding: 22px;

        .circle {
            align-items: center;
            background: rgba(113, 59, 219, 0.05);
            border-radius: 70px;
            display: flex;
            justify-content: center;
            height: 70px;
            margin-right: 27px;
            width: 70px;
        }

        .stat {
            flex-direction: column;

            .online {
                font-family: 'Ubuntu', sans-serif;
                font-size: 14px;
                line-height: 16px;
                letter-spacing: 0.01em;
                margin-bottom: 4px;
                color: #a6acbe;
            }
        }
    }

    .student {
        align-items: center;
        //background-color: rgba(113, 59, 219, 0.05);
        background-color: rgba(89, 230, 154, 0.5);;
        border: 2px solid #59E69A;
        box-sizing: border-box;
        border-radius: 20px;
        color: #626262;
        cursor: pointer;
        display: flex;
        justify-content: space-around;
        height: 46px;
        margin: 15px;
        padding: 15px;
        font-family: 'Ubuntu', sans-serif;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.01em;
        width: 190px;
        path,
        rect {
            fill: #ffffff;
        }

        &:hover {
            border: 2px solid #2e54d9;
            color: #333333;

            path,
            rect {
                fill: #2e54d9;
            }
        }

        .icons {
            width: 40%;
            display: flex;
            justify-content: space-around;
        }
    }

    .active {
        border: 2px solid #59e69a;
    }
}

.text {
    font-family: 'Ubuntu', sans-serif;
    font-size: 28px;
    line-height: 32px;
    letter-spacing: 0.01em;
    color: #333333;
}

.online {
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.01em;
    margin-bottom: 4px;
    color: #a6acbe;
}
