.container {
    background-color: #F8F8FB;
    height: 100vh;
    width: 100%;
}

.title {
    font-family: "Segoe UI", sans-serif;
}

.navPanel {
    background-color: #373B53;
    display: flex;
    flex-direction: column;
    width: 72px;
    height: 100vh;
}

.logo {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 72px;
    background-color: #2E54D9;
}

.navIcons {
    align-items: center;
    display: flex;
    /*height: 400px;*/
    flex-direction: column;
    flex-grow: 1;
    padding: 40px 0;
}

.icon {
    cursor: pointer;
    padding: 20px;
    margin-bottom: 20px;
}


