.publisher {
    display: flex;
    flex-direction: column;
    justify-content: center;
    //align-items: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.01em;
    margin-bottom: 4px;
    color: #a6acbe;
    height: 100%;
    width: 100%;
}

.controls {
    display: flex;
    justify-content: space-around;
    padding: 15px;
    width: 100% ;

    .col {
        flex: 1;
        flex-direction: column;
        margin-right: 20px;
        justify-content: flex-end;
    }
}

